.basket {
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #2d89fa;
  border-radius: 50%;
  border: 5px solid #c6dcf7;
  box-shadow: 0 0 0 5px #eff5fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.basket:hover {
  transform: scale(1);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}
